/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    padding: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /*  */


    @font-face {
        font-family: 'HKGrotesk-Regular';
        src: url('/fonts/HKGrotesk-Regular.otf');
    }

    @font-face {
        font-family: 'HKGrotesk-ExtraBold';
        src: url('/fonts/HKGrotesk-ExtraBold.otf');
    }






    :root {
        --primary-color : #333;
        --second-color: #fff;
        --tri-color: #e4e4e4;

        --default-ff:  Arial, Helvetica, sans-serif;
        --regular-ff: 'HKGrotesk-Regular', Arial, sans-serif;
        --bold-ff: 'HKGrotesk-ExtraBold', Arial, sans-serif;


        --fs-normal: 1em;
        --fs-heading: 2em;
        
    }





  
    html {
        background-color: var(--tri-color);
    }

    /* * {
        border: 1px solid red;
    } */

    body {
        max-width: 100%;
        margin: 0 15%;
        
        line-height: 1.5;

        font-size: var(--fs-normal);
        font-family: var(--regular-ff);
        background-color: var(--second-color);
        color: var(--primary-color);
    }

    .header-container {
        position: relative;
        display: grid;
        grid-template-rows: auto auto; /* two rows, size according to content */
        grid-template-columns: 100%; 
        align-items: center;
        justify-items: center; /* center items */
        text-align: center; /* center text */
        gap: 10px; /* optional: space between grid items */
        border-bottom: 1px solid #333;
        padding: 2em 0;
    }
    
    .header-logo-container {
        position: relative;
        grid-column: 1 / span 2; /* occupies the both columns */
        grid-row: 1; /* occupies the first row */
      
    }
    
    .header-nav-container {
        position: relative;
        grid-column: 1; /* occupies the first column */
        grid-row: 2; /* occupies the second row */
        justify-items: start;
       
    }
    
    .header-nav-item, .header-search, .header-theme {
        display: inline-block; /* line up horizontally */
        margin: 0 1em; /* space between items */
    }

    .header-nav-item a {
        text-decoration: none;
        color: var(--primary-color);
    }

    .header-nav-item.active {
        text-decoration: none;
        font-family: var(--bold-ff);
    }

    .header-logo {
        font-size: 3em;   
        font-family: var(--bold-ff);
        color: var(--primary-color);
        text-decoration: none;
    }

    .header-search button {
        border: 1px solid var(--primary-color);
        width: 12rem;
        text-align:left;
        padding: 1px 10px;
        border-radius: 20px;
        background-color: var(--second-color);
    }

    .header-theme button {
        border: none;
        background-color: var(--second-color);
    }

    
    .hero-container {
        width: auto;
        height: auto;
    }

    .hero {
        position: relative;
        display: grid;
        grid-template-columns: 2fr 1fr; /* two columns: large one on left, small one on right */
        grid-template-rows: 1fr 1fr; /* two rows: for two small images */
        gap: 30px;
        padding: 5% 15% 5% 15%;
    }
    
    .hero-featured {
        position: relative;
        grid-row: span 2; /* featured image spans two rows */
    }
    
    .hero-small {
        position: relative;
        /* no need to specify grid-row, as it defaults to occupying one row */
    }
    
    .text-overlay {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0,0,0,0.5); /* semi-transparent black */
        color: var(--second-color);
        padding: 10px 30px;
        width: auto;
        border-radius: 0 0 20px 20px;
    }
    
    .hero-featured img, .hero-small img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        
    }

    .hero-featured .text-overlay h2, .hero-small .text-overlay h3 {
        font-family: var(--bold-ff);
        margin: 0;
        max-width: 66%;
        text-align: left;
    }

    .hero-small .text-overlay h3 {
        max-width: 80%;
    }


    .hero-featured .text-overlay p, .hero-small .text-overlay p {
        position: absolute;
        right: 5%;
        bottom: 11%;
        font-family: var(--default-ff);
        font-size: .9rem;
    }

    .lottie-scroll-container {
        color: var(--primary-color);
        width: 100%;
        height: 75px; 
    }



    /* marquee section */

    .marquee-container {
        margin: 2em 0;
        overflow: hidden;
        white-space: nowrap;
        width: 100%; 
        /* border: 1px solid #000; optional, for visibility */
       
        justify-content: center;
        align-items: center;
    }
    
    .marquee {
        font-family: var(--bold-ff);
        font-size: 10em;
        display: inline-block;
        padding-left: 100%; /* start off screen */
        animation: marquee 60s linear infinite; /* 20 seconds for one complete scroll, adjust as needed */
    }
    
    @keyframes marquee {
        0%   { transform: translate(0, 0); }
        100% { transform: translate(-100%, 0); }
    }


    /* articles section */


    .articles-container {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 2em 0;
        /* border: 1px solid red; */
       
    }

    .article-items {
      display: flex;
      justify-content: center;
      width: 100%;
      border-bottom: 1px solid var(--primary-color);
      padding: 4em 0;
    }

    .article-items:first-child {
        border-top: 1px solid var(--primary-color);
    }

    .article-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 70%;
        gap: 3em;
    }
    

    .article-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1.5rem;
    }


    .article-content {
        word-wrap: normal;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        border: 1px solid var(--primary-color);
    }

    .article-content h4 a, 
    .article-content .read-date{
        color: grey;
        
    }

    .article-content h4, .article-content h3, .article-content p{
        padding: .25rem 0;
    }

    .article-content h3 {
        font-family: var(--bold-ff);
        font-size: 1.5rem;
    }



    .article-content .read-article a {
        color: var(--primary-color);
        padding-left: .5rem;
        font-family: var(--bold-ff);
    }

   
    .article-content .read-date {
        display: flex;
        justify-content: space-between;
    }

    /*  load more articles button */

    .load-more-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3em 0;
    }

    #load-more {
        font-size: 4em;
        font-family: var(--bold-ff);
        color: var(--primary-color);
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        text-decoration: underline;
    }
    

    /* footer */


/* Footer Styles */
footer {
    background-color: var(--primary-color);
    color: var(--second-color);
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-content-container {
   
    position: relative;
    max-width: 90%;
    margin: 0 auto;
    padding: 3em;
}

.newsletter-container {
    border: 1px solid var(--second-color);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 2rem 3rem;
    margin: auto;
}

.newsletter-content {
   
    padding: 2rem;
    grid-column: 1 / 2;
}

.newsletter-disclaimer {
    border: 1px solid var(--second-color);
    padding: 1rem;
    grid-column: 2 / 3;
    margin: auto;
}


.newsletter-disclaimer a {
    color: var(--second-color);
}

.newsletter-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: var(--bold-ff);
}

.newsletter-content form {
    display: flex;
  
}

.newsletter-content input[type="email"] {
    flex: 1;
    padding: .5rem;
    margin-right: 2rem;
    border: none;
    border-bottom: 2px solid var(--second-color);
    outline: none;
    background-color: var(--primary-color);
    color: var(--second-color);
  
  
  
}

.newsletter-content input[type="email"]::placeholder {
    color: var(--second-color);
    font-family: var(--bold-ff);
}



.newsletter-content button {
    padding: .5rem 1rem;
    border: none;
    background-color: var(--second-color);
    font-size: 1.25rem;
    font-family: var(--bold-ff);
    color: var(--primary-color);
}

.footer-links-container,
.footer-socials-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.footer-link-items,
.footer-social-items {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.footer-link-item a,
.footer-social-item a {
    color: #fff;
    text-decoration: none;
}

.footer-link-item a:hover,
.footer-social-item a:hover {
    text-decoration: underline;
}
