 /* header */



 .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid var(--primary-color);
    padding: 2em 0;
}

.dark-mode .header-container {
    border-bottom: 1px solid var(--second-color);
}

.header-logo-container {
    order: 1;
}

.header-nav-container, .header-utility-container {
    order: 2;
    display: flex;
    justify-content: center;
    gap: 1em;
}

 .header-nav-item, .header-search, .header-theme {
    display: inline-block;
    margin: 0 1em; /* space between items */
}

.header-logo {
    font-size: 3em;   
    font-family: var(--bold-ff);
    color: var(--primary-color);
    text-decoration: none;
}

.dark-mode .header-logo {
    color: var(--second-color);
}

.header-nav-item a {
    text-decoration: none;
    color: var(--primary-color);
}

.header-nav-item.active {
    text-decoration: none;
    font-family: var(--bold-ff);
}

.dark-mode .header-nav-item a {
    color: var(--second-color);
}

.header-search {
    border: 1px solid var(--primary-color);
    width: 12rem;
    text-align:left;
    padding: 1px 10px;
    border-radius: 20px;
    background-color: var(--second-color);
    cursor: text;
}

.dark-mode .header-search  {
    border: 1px solid var(--second-color);
    background-color: var(--primary-color);
    color: var(--second-color);
}

.header-theme {
    border: none;
    background-color: var(--second-color);
    cursor: pointer;
}

.dark-mode .header-theme   {
    background-color: transparent;
    color: var(--second-color);
}

.hamburger-menu  {
    border: none;
    background-color: transparent;
    display: none;
}

.close-menu {
    display: none;
}




/* Responsive Styles for Laptop Screens */
@media screen and (min-width: 1024px) and (max-width: 1440px) {

    .header-logo {
        font-size: 2.5em;
    } 
}

/* Responsive Styles for Tablet Screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {

     .header-logo {
        font-size: 2rem;
    } 

    .header-container {
        padding: 3rem 0;
    }

    .header-nav-container {
        margin: 0 5%;
      
    }

    .header-nav-container, .header-utility-container {
        display: block;
    }

    .header-nav-item {
        margin-bottom: 1.5rem;
    }

}

/* phone responsive */

@media screen and (min-width: 320px) and (max-width: 767px) {


     .header-logo h1 {
        padding: 0 0 1rem 0 ;
     }

     .header-container {
        display: block;
        padding: 1rem 0 2rem 0 ;
     }

     .header-logo {
        font-size: 1.1rem;
    } 

    .header-nav-container {
        margin: 0 5%;
      
    }

    .header-nav-items {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: var(--second-color);
        color: var(--primary-color);
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 9998;
    }

    .header-nav-items.open {
        display: flex;
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
        
    }


    .dark-mode .header-nav-items {
        background-color: var(--primary-color);
        color: var(--second-color);
    }

    .header-nav-item {
        padding: 1rem 0;
        margin: 0 0 0 2.5rem;
    }

    .close-menu {
        display: none;
        position: absolute;
        top: 12%;
        left: 11%;
        border: none;
        background: none;
        color: var(--primary-color);
        font-size: 1.5rem;
        z-index: 9998;
    }

    .close-menu.open {
        display: block;
        z-index: 9998;
    }

    .dark-mode .close-menu {
        color: var(--second-color);
    }

    
    .header-theme {
        font-size: 1.2rem;
        margin: 0;
    }

    .hamburger-menu {
        font-size: 1.2rem;
        display: block;
        background-color: transparent;
        border: none;
    }

    .dark-mode .hamburger-menu {
        color: var(--second-color);
        
    }
}    


 /* Responsive Styles for very small Phone Screens */ 
 @media screen and (max-width: 320px) {

    /* header */

     .header-logo h1 {
        padding: 0 0 1rem 0 ;
        font-size: 1.6rem;
     }

     .header-container {
        display: block;
     }

     .header-logo {
        font-size: 1.1rem;
    } 

    .header-nav-container {
        display: block;
    }

    .header-utility-container {
        gap: .5rem;
    }

    .header-nav-items {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: var(--second-color);
        color: var(--primary-color);
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 9998;
    }

    .header-nav-items.show {
        display: flex;
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
        
    }


    .dark-mode .header-nav-items {
        background-color: var(--primary-color);
        color: var(--second-color);
    }

    .header-nav-item {
        padding: 1rem 0;
        margin: 0 0 0 2.5rem;
    }

    .close-menu {
        display: none;
        position: absolute;
        top: 12%;
        left: 11%;
        border: none;
        background: none;
        color: var(--primary-color);
        font-size: 1.5rem;
        z-index: 9998;
    }

    .close-menu.show {
        display: block;
        z-index: 9998;
    }

    .dark-mode .close-menu {
        color: var(--second-color);
    }

    
    .header-theme {
        font-size: 1rem;
        margin: 0;
    }

    .header-search {
        width: 10rem;
    }

    .hamburger-menu {
        font-size: 1rem;
        display: block;
        background-color: transparent;
        border: none;
    }

    .dark-mode .hamburger-menu {
        color: var(--second-color);
        
    }

}